.button {
  border-radius: 100px;
  padding: 3px 14px;
  cursor: pointer;
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0;
  color: hsl(0 0% 40%);
  background: hsl(var(--accent) 80% 98%);
  box-shadow: 0 2px 6px hsl(0 0% 0% / 0.25);
  outline-color: hsl(var(--accent) 80% 40%);
}

.button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: -8px;
  z-index: -1;
  box-shadow: 0 1px hsl(0 0% 100% / 1) inset;
  background: radial-gradient(circle at center, #0c3b28, transparent 50%) 4px
      4px / 6px 6px no-repeat,
    radial-gradient(circle at center, #0f3d2b, transparent 50%) 4px
      calc(100% - 4px) / 6px 6px no-repeat,
    radial-gradient(circle at center, #0f442f, transparent 50%) calc(100% - 4px)
      4px / 6px 6px no-repeat,
    radial-gradient(circle at center, #113a2a, transparent 50%) calc(100% - 4px)
      calc(100% - 4px) / 6px 6px no-repeat,
    #568371;
  border-radius: 6px;
}

.button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 28px;
  overflow: visible !important;
}

.button svg path {
  stroke: currentColor;
  stroke-width: 6;
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transition: translate var(--transition), scale var(--transition);
  transition-timing-function: var(--timing);
}

.button svg path:not(:nth-of-type(2)) {
  --offset: 30%;
  --distance: 50cqi;
  translate: calc(
      (var(--offset) * var(--coefficient)) +
        (var(--intent, 0) * (var(--distance) * var(--coefficient)))
    )
    0;
  scale: calc(1 + var(--intent));
}

.button svg path:nth-of-type(2) {
  rotate: calc(15deg + (var(--intent, 0) * 75deg));
  scale: 1 calc(1 + var(--intent, 0));
  translate: 0 calc(var(--intent, 0) * 30cqh);
  stroke-width: calc(4 - (var(--intent, 0) * 2));
  opacity: calc(1 - (var(--intent, 0) * 0.8));
  transition: stroke-width var(--transition), rotate var(--transition),
    translate var(--transition), scale var(--transition),
    opacity var(--transition);
  transition-timing-function: var(--timing);
}

.button svg path:nth-of-type(1) {
  --coefficient: -1;
}
.button svg path:nth-of-type(3) {
  --coefficient: 1;
}

.container {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  inset: 0;
  container-type: size;
  border-radius: 100px;
}

.text {
  scale: var(--intent, 0);
  opacity: var(--intent, 0);
  transform-origin: 50% 100%;
  display: inline-block;
  transition: scale var(--transition), opacity var(--transition);
  transition-timing-function: var(--timing);
}

.button:hover,
.button:focus-visible {
  --intent: 1;
}
