.myModuleWrapper {
  width: 100%;
  margin: auto 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}
.service {
  background: #1b1f24;
  height: 260px;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
}
